# We only want the customization stuff. Most everything else is cache or data stuff that Continue uses internally.
*
!.gitignore
!config.yaml
!setup.sh

!assistants/
!assistants/**/*
!context/
!context/**/*
!docs/
!docs/**/*
!mcpServers/
!mcpServers/**/*
!models/
!models/**/*
!prompts/
!prompts/**/*
!rules/
!rules/**/*
